@keyframes changeTitle {
    0%   { top:-20px;}
   
    100% {  top:0px;}
  }


@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


  .dd{
    position: relative;
    animation-name: changeTitle;
  animation-duration: 1s;
  
  }

  .headd{
    font-size: x-large;
    color: rgb(233, 230, 125);
    text-align: center;

  }

  .home-img img{
    width: 150%;
}
.home-img{
    position: relative;
    flex-grow: 2;
  }
  
  .home-img::before{
    background: linear-gradient(90deg, rgb(25, 66, 27), rgba(24, 59, 32, 0.98),rgba(38, 95, 96, 0.92),#1a003309,#1a003300) !important;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 70%;
  }
 
 

.none{
  display: none;
}

::placeholder {
  color: #6c6767 !important;
  opacity: 1 !important; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12-18 */
  color: #6c6767 !important;


}

   .mystyle{
    animation-name: fadeIn;
     background-color: rgba(21, 29, 48, 0.967); 
  animation-duration: 2s;
    height: auto;
  display: block;
    color: #fff;  
    /* font-size: larger; */
   position: fixed;
  bottom: 7px;
  right: 7px;
  width: 350px;
  padding: 10px 20px;
  /* margin-right: 5%; */
  border-radius: 5px ;
        }

     
   .apexcharts-legend-text{
    color: rgb(85, 97, 100) !important;
     }

      .mystyle h1{
      display: block !important;
      font-size: large;
      color: rgb(255, 134, 91);
     }
    

     #table, table tr input{
        border-radius: 10px !important;
      }
      #table  #tbody{
        border: cadetblue 2px solid !important;
      }
     input:focus, input:active {
      outline: none;
  }
  #table input:hover {
    border: rgb(63, 134, 156) 2px solid ;
  }
  .hide {
      display: none;
    }
 .dele{
      padding-left: 10px;
      color: rgb(255, 132, 66); 
      padding-right: 0;
    }
    
    .dele:hover::after {
      content: "Delete";
      color: rgb(255, 132, 66);
      font-size: 8px;
      display: inline;
    }

    

    .delet{
  position: absolute;
  top: -5px;
  right: 5px;
  color: #6c6767;
  width: auto;
    }

    .delet:hover{
      color: antiquewhite;
    }

    .line-btns{
      padding: 2px;
      margin-left: 5px;
      background-color: rgb(233, 230, 125) !important;
     border-radius: 20px;
     width: 23%;
    }

    .line-btns:hover{
      transition: all .5s;
      background-color:#ac99fb !important;
    }

    .dele:hover {
      border: none !important;
      padding: 5px;
    }
   

   .text2, .text3{
     width: 2% !important;
   }

   
    
    .typed {
      overflow: hidden;
      white-space: nowrap;
      width: 0;
      animation: typing;
      animation-duration: 2s;
      animation-timing-function: steps(30, end);
      animation-fill-mode: forwards;
    }
    
      
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }

    @media screen and (max-width: 450px) {
      .sa7{
        width: 9% !important;
        height: 9% !important;
        margin-top: 20px !important;
      }
      .line-btns{
        padding:0px;
        width: 25%;
        overflow-wrap: break-word;
        white-space: wrap;
        border-radius: 10px;
        
      }
      
    }